[submodule "arduinoC/libraries/Sentry-Arduino"]
	path = arduinoC/libraries/Sentry-Arduino
	url = git@github.com:AITosee/Sentry-Arduino.git
[submodule "microPython/libraries/Sentry-microPython"]
	path = microPython/libraries/Sentry-microPython
	url = git@github.com:AITosee/Sentry-microPython.git
